In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('train_V2.csv')
df_test=pd.read_csv('test_V2.csv')

In [3]:
df_train.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0,0.0000,0,0.00,0,0,244.80,1,1466,0.4444
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0,0.0045,0,11.04,0,0,1434.00,5,0,0.6400
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0,0.0000,0,0.00,0,0,161.80,2,0,0.7755
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,0,0.0000,0,0.00,0,0,202.70,3,0,0.1667
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,0,0.0000,0,0.00,0,0,49.75,2,0,0.1875

In [4]:
df_train['totalDistance']=df_train['rideDistance']+df_train['walkDistance']+df_train['swimDistance']
df_test['totalDistance']=df_test['rideDistance']+df_test['walkDistance']+df_test['swimDistance']

In [5]:
df_train["skill"] = df_train["headshotKills"]+df_train["roadKills"]
df_test['skill']=df_test['headshotKills']+df_test['roadKills']

In [6]:
## Deleting the feature
del df_train['rideDistance']
del df_train['walkDistance']
del df_train['swimDistance']
del df_train['headshotKills']
del df_train['roadKills']

del df_test['rideDistance']
del df_test['walkDistance']
del df_test['swimDistance']
del df_test['headshotKills']
del df_test['roadKills']

## Skill Hack

In [13]:
df_train.drop(df_train[(df_train.skill>10) & (df_train.totalDistance < 10)].index,inplace=True)

In [19]:
df_train.drop(df_train[(df_train.skill>10) & (df_train.totalDistance < 50)].index,inplace=True)

## Health Hack

In [23]:
df_train.drop(df_train[(df_train.heals > 10) & (df_train.totalDistance < 10)].index,inplace=True)

In [28]:
df_train.drop(df_train[(df_train.heals > 10) & (df_train.totalDistance < 50)].index,inplace=True)

In [29]:
df_train.describe()

,assists,boosts,damageDealt,DBNOs,heals,killPlace,killPoints,kills,killStreaks,longestKill,...,numGroups,rankPoints,revives,teamKills,vehicleDestroys,weaponsAcquired,winPoints,winPlacePerc,totalDistance,skill
count,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,...,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446856e+06,4.446855e+06,4.446856e+06,4.446856e+06
mean,2.337326e-01,1.106911e+00,1.306814e+02,6.577989e-01,1.369857e+00,4.760026e+01,5.050086e+02,9.244363e-01,5.439115e-01,2.299581e+01,...,4.300841e+01,8.920103e+02,1.646566e-01,2.386383e-02,7.918403e-03,3.659917e+00,6.064603e+02,4.728176e-01,1.764886e+03,2.302101e-01
std,5.881327e-01,1.715783e+00,1.705474e+02,1.144955e+00,2.679213e+00,2.746261e+01,6.275077e+02,1.555968e+00,7.108657e-01,5.097006e+01,...,2.328914e+01,7.366478e+02,4.721490e-01,1.673150e-01,9.261270e-02,2.452598e+00,7.397006e+02,3.074035e-01,2.183126e+03,6.064405e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.700000e+01,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e-01,1.581000e+02,0.000000e+00
50%,0.000000e+00,0.000000e+00,8.424000e+01,0.000000e+00,0.000000e+00,4.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.000000e+01,1.443000e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,4.583000e-01,7.883000e+02,0.000000e+00
75%,0.000000e+00,2.000000e+00,1.860000e+02,1.000000e+00,2.000000e+00,7.100000e+01,1.172000e+03,1.000000e+00,1.000000e+00,2.132000e+01,...,4.700000e+01,1.500000e+03,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.495000e+03,7.407000e-01,2.728600e+03,0.000000e+00
max,2.200000e+01,3.300000e+01,6.616000e+03,4.000000e+01,8.000000e+01,1.010000e+02,2.170000e+03,7.200000e+01,2.000000e+01,1.094000e+03,...,1.000000e+02,5.910000e+03,3.900000e+01,1.200000e+01,5.000000e+00,2.360000e+02,2.013000e+03,1.000000e+00,4.127010e+04,6.400000e+01

## Kill Hack

In [35]:
df_train.drop(df_train[(df_train.kills > 20) & (df_train.totalDistance < 100)].index,inplace=True)

## Distance Hack

In [39]:
df_train.drop(df_train[(df_train.longestKill > 800)].index,inplace=True)

## Weapon hack

In [42]:
df_train.drop(df_train[(df_train.weaponsAcquired > 10) & (df_train.totalDistance < 10)].index,inplace=True)

In [48]:
df_train.drop(df_train[(df_train.weaponsAcquired > 50) & (df_train.totalDistance < 100)].index,inplace=True)

## Speed Hack

In [57]:
df_train.drop(df_train[(df_train.totalDistance > 10000) & (df_train.matchDuration < 400)].index,inplace=True)

In [58]:
X_test_id=df_test.Id.values
X_test_id.shape

(1934174,)

In [59]:
## Deleting the extra column
del df_train['Id']
del df_train['matchId']
del df_train['groupId']
del df_train['matchType']
del df_test['Id']
del df_test['matchId']
del df_test['groupId']
del df_test['matchType']

In [60]:
df_train.head()

,assists,boosts,damageDealt,DBNOs,heals,killPlace,killPoints,kills,killStreaks,longestKill,...,numGroups,rankPoints,revives,teamKills,vehicleDestroys,weaponsAcquired,winPoints,winPlacePerc,totalDistance,skill
0,0,0,0.00,0,0,60,1241,0,0,0.00,...,26,-1,0,0,0,1,1466,0.4444,244.8000,0
1,0,0,91.47,0,0,57,0,0,0,0.00,...,25,1484,0,0,0,5,0,0.6400,1445.0445,0
2,1,0,68.00,0,0,47,0,0,0,0.00,...,47,1491,0,0,0,2,0,0.7755,161.8000,0
3,0,0,32.90,0,0,75,0,0,0,0.00,...,30,1408,0,0,0,3,0,0.1667,202.7000,0
4,0,0,100.00,0,0,45,0,1,1,58.53,...,95,1560,0,0,0,2,0,0.1875,49.7500,0

## Hack

In [70]:
df_train.drop(df_train[(df_train.kills < 3) & (df_train.winPlacePerc > 0.8) & (df_train.totalDistance < 100)].index,inplace=True)

In [90]:
df_train.dropna(inplace=True)

In [91]:
Y=df_train.winPlacePerc.values

In [92]:
important_feature = [ "kills",
                "maxPlace",
                "numGroups",
                "totalDistance",
                "killStreaks",
                "weaponsAcquired",
                "winPoints",
                "killPlace",
                "killPoints",
                "longestKill"
               ]

In [93]:
df_X=df_train[important_feature]

In [94]:
df_X.isna().sum()

kills              0
maxPlace           0
numGroups          0
totalDistance      0
killStreaks        0
weaponsAcquired    0
winPoints          0
killPlace          0
killPoints         0
longestKill        0
dtype: int64

In [95]:
df_train.winPlacePerc.isna().sum()

0

In [96]:
df_X_test=df_test[important_feature]

In [97]:
X=df_X.values

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

## RandomForestClassifier

In [103]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=0)

In [ ]:
clf=RandomForestRegressor(n_jobs=-1,n_estimators=100)
clf.fit(X_train,Y_train)

In [ ]:
Y_pred=clf.predict(X_test)

In [116]:
from sklearn.metrics import accuracy_score

In [117]:
from sklearn.metrics import mean_absolute_error

In [1]:
X_train.shape,X_test.shape

NameError: name 'X_train' is not defined

In [ ]:
print('testing score',clf.score(X_test,Y_test))
print('mean squared error',mean_squared_error(Y_pred,Y_test))
print('mean absolute error',mean_absolute_error(Y_pred,Y_test))
print('------------->')
print('training score',clf.score(X_train,Y_train))